# required packages:
opencv-python~=4.7.0.72
numpy~=1.24.2

# package installation:
pip install opencv-python
pip install numpy
pip install Pillow

# required models: 
# available on: https://github.com/AlexeyAB/darknet/releases/tag/darknet_yolo_v3_optimal:
yolov4.cfg
yolov4.weights



imutils~=0.5.4
Flask~=2.2.3
PyAutoGUI~=0.9.53