#video-container {
  position: relative;
  width: 80%;
  height: 100%;
  max-width: 80%;
  max-height: 100%;
  overflow: hidden;
  margin-left: 10%;
  margin-right: 10%;
}

#video-container img {
  width: 100%;
  height: auto;
  transform: scale(1);
  display: block;
}

#control-container {
  position: absolute;
  top: 0;
  right: 0;
  width: 10%;
  height: 100%;
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#detected-objects-dropdown {
  position: absolute;
  top: 0;
  left: 0;
  width: 10%;
  height: 100%;
  background-color: #f0f0f0;
}

button {
  margin: 10px;
  padding: 20px;
  font-size: 20px;
  background-color: #155f19;
  border: 2px solid #000;
  position: absolute;
}

button:hover {
  background-color: #ffffff;
}

#up-button {
  top: 45.6%;
  transform: translateY(-100%);
}

#down-button {
  top: 52.3%;
  transform: translateY(0);
}

#left-button {
  left: 30.3%;
  transform: translateX(-100%);
}

#right-button {
  left: 59.7%;
  transform: translateX(0);
}

#shoot-button {
  bottom: 0%;
  background-color: #ff0000;
}

#stop-button {
  bottom: 10%;
  background-color: #ff0000;
}

#shoot-button:hover,
#stop-button:hover {
  background-color: rgb(255, 255, 255);
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.title {
  font-family: Arial, sans-serif;
  font-size: 48px;
  color: #ffffff; /* Change this value to your preferred color */
  position: absolute;
  top: 15%; /* Adjust the value to position the title vertically */
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10; /* Make sure the title is above the images */
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: relative;
}

.image-wrapper {
  flex: 1;
  height: 100%;
  background-size: cover;
  background-position: center;
  position: absolute;
  width: 50%;
  z-index: -1;
}

.image-wrapper:first-child {
  left: 0;
}

.image-wrapper:nth-child(2) {
  left: 50%;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
}

input[type="text"], input[type="password"] {
  display: block;
  margin: 10px 0;
  width: 80%;
}

.login-button {
  width: 50%;
  margin-top: 20px;
}


  
